<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleIdentifier</key>
	<string>au.com.icy.kext.PenguinoMatch</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>PenguinoMatch</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1.0.0d4</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>PenguinoUSBCDCACMData</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleUSBCDCACMData</string>
			<key>IOClass</key>
			<string>AppleUSBCDCACMData</string>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>InputBuffers</key>
			<integer>8</integer>
			<key>OutputBuffers</key>
			<integer>16</integer>
			<key>bInterfaceClass</key>
			<integer>10</integer>
			<key>bInterfaceSubClass</key>
			<integer>0</integer>
			<key>idProduct</key>
			<integer>1226</integer>
			<key>idVendor</key>
			<integer>5840</integer>
		</dict>
		<key>PenguinoUSBCDCDevice</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleUSBCDC</string>
			<key>IOClass</key>
			<string>AppleUSBCDC</string>
			<key>IOProbeScore</key>
			<integer>10000</integer>
			<key>IOProviderClass</key>
			<string>IOUSBDevice</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>idProduct</key>
			<integer>1226</integer>
			<key>idVendor</key>
			<integer>5840</integer>
		</dict>
		<key>PenguinoUSBCDCDeviceNub</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleUSBMergeNub</string>
			<key>IOClass</key>
			<string>AppleUSBMergeNub</string>
			<key>IOProbeScore</key>
			<integer>11000</integer>
			<key>IOProviderClass</key>
			<string>IOUSBDevice</string>
			<key>IOProviderMergeProperties</key>
			<dict>
				<key>InterfaceMapping_X</key>
				<dict>
					<key>1</key>
					<string>penguino-uart</string>
				</dict>
			</dict>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>idProduct</key>
			<integer>1226</integer>
			<key>idVendor</key>
			<integer>5840</integer>
		</dict>
	</dict>
	<key>OSBundleLibraries</key>
	<dict>
		<key>com.apple.kernel.iokit</key>
		<string>6.0</string>
	</dict>
</dict>
</plist>
