<?xml version="1.0" encoding="utf-8"?>
<installer-script minSpecVersion="1.000000" authoringTool="com.apple.PackageMaker" authoringToolVersion="3.0.3" authoringToolBuild="174">
    <title>Penguino AVR Driver</title>
    <options customize="never" allow-external-scripts="no" rootVolumeOnly="true"/>
    <choices-outline>
        <line choice="choice0"/>
        <line choice="choice2"/>
    </choices-outline>
    <choice id="choice0" title="PenguinoMatch">
        <pkg-ref id="au.com.icy.penguinoAvrDriver.penguinomatch.pkg"/>
    </choice>
    <choice id="choice2" title="Penguino AVR Driver Postflight" start_visible="false">
        <pkg-ref id="au.com.icy.penguinoAvrDriver.postflight.pkg"/>
    </choice>
    <pkg-ref id="au.com.icy.penguinoAvrDriver.penguinomatch.pkg" installKBytes="8" version="2" auth="Root">file:./Contents/Packages/penguinomatch.pkg</pkg-ref>
    <pkg-ref id="au.com.icy.penguinoAvrDriver.postflight.pkg" installKBytes="0" version="1.0" auth="Root">file:./Contents/Packages/penguinoAvrDriverPostflight.pkg</pkg-ref>
</installer-script>